/* Printable design for LaTeX.css using Paged.js
 * General styles for both A4 and US letter page size
 */

@import "style.css";

:root {
  --body-background-color: hsl(0, 0%, 91%);
  --page-shadow-color: hsl(0, 0%, 81%);
}

@media print {
  /* It seems Paged.js still doesn't support `counters()` or there is some bug
   * when the ToC is split during pagination.
   * Here `counters()` is replaced with with a complex `counter()` construction,
   * with 3 levels of sectioning, like in LaTeX documents (excluding paragraphs):
   * `sec-level-1`, `sec-level-2`, `sec-level-3`.
   */
  /* ToC Level-1 */
  nav > ol {
    counter-reset: sec-level-1;
    /* No padding for ToC first-level sections in LaTeX default articles */
    padding-left: 0;
  }
  nav > ol > li {
    /* ToC first-level sections are in boldface type in LaTeX default articles */
    counter-increment: sec-level-1;
  }
  nav > ol > li::before {
    content: counter(sec-level-1);
    font-weight: bold;
  }
  nav > ol > li > a {
    font-weight: bold;
  }
  /* ToC Level-2 */
  nav > ol > li > ol {
    counter-reset: sec-level-2;
  }
  nav > ol > li > ol > li {
    counter-increment: sec-level-2;
  }
  nav > ol > li > ol > li::before {
    content: counter(sec-level-1) '.' counter(sec-level-2);
  }
  /* ToC Level-3 */
  nav > ol > li > ol > li > ol {
    counter-reset: sec-level-3;
  }
  nav > ol > li > ol > li > ol > li {
    counter-increment: sec-level-3;
  }
  nav > ol > li > ol > li > ol > li::before {
    content: counter(sec-level-1) '.' counter(sec-level-2) '.' counter(sec-level-3);
  }

  /* Add page numbers to the ToC.
   * `latex-css-print.js` must be loaded if `toc-page-numbers` class is used.
   */
  .toc-page-numbers nav > ol li::before {
    float: left;
  }
  .toc-page-numbers nav li > a {
    display: flex;
    text-decoration-line: none;
  }
  /* Page numbers */
  .toc-page-numbers nav li > a::after {
    content: target-counter(attr(href), page);
    flex: 0 0 5%;
    align-self: flex-end;
    text-align: right;
    text-decoration-line: underline;
    padding-left: 0.85rem;
    background-color: var(--body-bg-color);
  }
  /* Add an extra gap between the ToC entry text and the page number container. */
  .toc-page-numbers nav div.toc-item-container {
    flex: 0 1 95%;
    padding-right: 1rem;
  }
  .toc-page-numbers nav > ol > li > ol span.dotted-line {
    background-color: var(--body-bg-color);
  }
  .toc-page-numbers nav > ol > li > ol span.dotted-line::after {
    content: ".............................................................................................................................";
    float: left;
    width: 0;
    letter-spacing: 5pt;
    color: var(--body-color);
  }
  /* Hide the fragment of dotted line outside the navigation container */
  .toc-page-numbers nav > ol > li > ol li {
    overflow: hidden;
  }
  .toc-page-numbers nav span.toc-item-content {
    background-color: var(--body-bg-color);
    text-decoration-line: underline;
  }
  /* Make an "inline gap" before dotted line. It has been used this solution
   * instead of [a more natural] `padding-right` to `.toc-item-content`
   * because of rendering differences between browsers. Also, tries to avoid
   * line breaks just before the dotted line.
   */
  .toc-page-numbers nav > ol > li > ol span.dotted-line::before {
    content: "\00a0"; /* non-breaking space */
    margin-left: 0.2em;
  }
}

/* Styles for screen document display */
@media screen, pagedjs-ignore {
  body {
    background-color: var(--body-background-color);
  }

  .pagedjs_page {
    background-color: var(--body-bg-color);
    box-shadow: 0 0 3px 1px var(--page-shadow-color);
    margin-left: auto;
    margin-right: auto;
  }
}
