:lang(da) .theorem::before { content: 'Læresætning ' counter(theorem) '. ' !important; }
:lang(da) .lemma::before { content: 'Lemma ' counter(theorem) '. ' !important; }
:lang(da) .proof::before { content: 'Bevis. ' attr(title) !important; }
:lang(da) .definition::before { content: 'Definition ' counter(definition) '. ' !important; }
