:lang(nl) .theorem::before { content: 'Stelling' counter(theorem) '. ' !important; }
:lang(nl) .lemma::before { content: 'Lemma ' counter(theorem) '. ' !important; }
:lang(nl) .proof::before { content: 'Bewijs. ' attr(title) !important; }
:lang(nl) .definition::before { content: 'Defenitie ' counter(definition) '. ' !important; }
